body {
  /*margin-top: 60px; */
}
/*tABELA DE DADOS*/
#table{
margin-top: 60px;
/*color: #11747c;*/
}
/*Seta */
#seta{
cursor:pointer;
}


:root {
--ismatDark: 17, 117, 124;
--ismatLight: 106, 201, 204;
}:root {
--primary: var(--ismatDark);
--secondary: var(--ismatLight);
}

.bg-primary {
background-color: rgba(var(--primary), 1) !important;
}
.bg-secondary {
background-color: rgba(var(--secondary), 1) !important;
}

.btn-primary {
color: rgba(var(--gray_0), 1);
background-color: rgba(var(--primary), 1);
border-color: rgba(var(--primary), 1);
}

.btn-primary:hover {
color: rgba(var(--gray_0), 1);
background-color: rgba(var(--primary), 1);
border-color: rgba(var(--primary), 1);
}

.btn-primary:focus, .btn-primary.focus {
box-shadow: 0 0 0 0.2rem rgba(var(--primary), 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
color: rgba(var(--gray_0), 1);
background-color: rgba(var(--primary), 1);
border-color: rgba(var(--primary), 1);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
color: rgba(var(--gray_0), 1);
background-color: rgba(var(--primary), 1);
border-color: rgba(var(--primary), 1);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(var(--primary), 0.5);
}

.btn-secondary {
color: rgba(var(--gray_0), 1);
background-color: rgba(var(--secondary), 1);
border-color: rgba(var(--secondary), 1);
}

.btn-secondary:hover {
color: rgba(var(--gray_0), 1);
background-color: rgba(var(--secondary), 1);
border-color: rgba(var(--secondary), 1);
}

.btn-secondary:focus, .btn-secondary.focus {
box-shadow: 0 0 0 0.2rem rgba(var(--secondary), 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
color: rgba(var(--gray_0), 1);
background-color: rgba(var(--secondary), 1);
border-color: rgba(var(--secondary), 1);
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
color: rgba(var(--gray_0), 1);
background-color: rgba(var(--secondary), 1);
border-color: rgba(var(--secondary), 1);
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(var(--secondary), 0.5);
}


.btn-outline-primary {
color: rgba(var(--ismatDark), 1);
background-color: transparent;
background-image: none;
border-color: rgba(var(--ismatDark), 1);
}

.btn-outline-primary:hover {
color: rgba(var(--gray_0), 1);
background-color: rgba(var(--ismatDark), 1);
border-color: rgba(var(--ismatDark), 1);
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
box-shadow: 0 0 0 0.2rem rgba(var(--ismatDark), 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
color: rgba(var(--ismatDark), 1);
background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
color: rgba(var(--gray_0), 1);
background-color: rgba(var(--ismatDark), 1);
border-color: rgba(var(--ismatDark), 1);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(var(--ismatDark), 0.5);
}

.btn-outline-secondary {
color: rgba(var(--ismatLight), 1);
background-color: transparent;
background-image: none;
border-color: rgba(var(--ismatLight), 1);
}

.btn-outline-secondary:hover {
color: rgba(var(--gray_0), 1);
background-color: rgba(var(--ismatLight), 1);
border-color: rgba(var(--ismatLight), 1);
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
box-shadow: 0 0 0 0.2rem rgba(var(--ismatLight), 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
color: rgba(var(--ismatLight), 1);
background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
color: rgba(var(--gray_0), 1);
background-color: rgba(var(--ismatLight), 1);
border-color: rgba(var(--ismatLight), 1);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(var(--ismatLight), 0.5);
}