{% extends 'index.html'%}

{% block navOptions %}
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a class="sidebar-link" href="{{url_for('homeModule.toHomePage')}}">
                <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Home</span>
            </a>
        </li>
        <li class="sidebar-item ">
            <a class="sidebar-link" href="{{url_for('userModule.toUsersPage')}}">
                <i class="align-middle" data-feather="user"></i> <span class="align-middle">Utilzadores</span>
            </a>
        </li>
        <li class="sidebar-item active">
            <a class="sidebar-link" href="{{url_for('rideModule.toRidePage')}}">
                <i class="align-middle" data-feather="book"></i> <span class="align-middle">Boleias</span>
            </a>
        </li>
        <li class="sidebar-item ">
            <a class="sidebar-link" href="{{url_for('reservaModule.toReservaPage')}}">
                <i class="align-middle" data-feather="book"></i> <span class="align-middle">Reservas</span>
            </a>
        </li>
    </ul>
{% endblock navOptions %}

{% block content %}
<div class="container-md" id="table">
    <div class="table-responsive"> 
        <table class="table display nowrap" id="tabela">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Id</th>
                    <th>vehicle_id</th>
                    <th>ride_date</th>
                    <th>local_destiny</th>
                    <th>local_origin</th>
                    <th>number_of_available_seats</th>
                    <th>apagar boleia</th>
                </tr>
            </thead>
            <tbody>
                <!-- GetUsers vem do teu init  -->
                {% for ride in get_Ride %}  <!-- n sei se get_Ride  -->
                <tr>
                <td>{{ride.id}}</td>
                <td>{{ride.vehicle_id}}</td>
                <td>{{ride.ride_date}}</td>
                <td>{{ride.local_destiny}}</td>
                <td>{{ride.local_origin}}</td>
                <td>{{ride.number_of_available_seats}}</td>
                <td><button class="ApagarB btn btn-primary" id="{{ride.id}}">Apagar Boleia</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div> 
{% endblock content %}