{% extends 'index.html'%}

{% block navOptions %}
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a class="sidebar-link" href="{{url_for('homeModule.toHomePage')}}">
                <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Home</span>
            </a>
        </li>
        <li class="sidebar-item  ">
            <a class="sidebar-link" href="{{url_for('userModule.toUsersPage')}}">
                <i class="align-middle" data-feather="user"></i> <span class="align-middle">Utilzadores</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{{url_for('rideModule.toRidePage')}}">
                <i class="align-middle" data-feather="book"></i> <span class="align-middle">Boleias</span>
            </a>
        </li>
        <li class="sidebar-item  active">
            <a class="sidebar-link" href="{{url_for('reservaModule.toReservaPage')}}">
                <i class="align-middle" data-feather="book"></i> <span class="align-middle">Reservas</span>
            </a>
        </li>
    </ul>
{% endblock navOptions %}

{% block content %}
<div class="container-md" id="table">
    <div class="table-responsive"> 
        <table class="table display nowrap" id="tabela">
            <thead class="bg-primary text-white">
                <tr>
                    <th>reserva id</th>
                    <th>reservation_state_id</th>
                    <th>reservation_state</th>
                    <th>createdAt</th>
                    <th>updatedAt</th>
                    <th>ride_id</th>
                    <th>Apagar Reserva</th>
                </tr>
            </thead>
            <tbody>
                <!-- GetUsers vem do teu init  -->
                {% for reserva in get_Reserva %}
                <tr>
                <td>{{reserva.Reservation.id}}</td>
                <td>{{reserva.Reservation.reservation_state_id}}</td>
                <td>{{reserva.ReservationState.state}}</td>
                <td>{{reserva.Reservation.createdAt}}</td>
                <td>{{reserva.Reservation.updatedAt}}</td>
                <td>{{reserva.Reservation.ride_id}}</td>
                <td><button class="ApagarR btn btn-primary" id="{{reserva.Reservation.id}}">Apagar Reserva</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}